<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>z2J-3v-SAs</key>
	<string>Local_FeedBack</string>
	<key>xWW-mZ-gFQ</key>
	<string>Local_Send</string>
	<key>vP3-Q1-MBo</key>
	<string>Local_Shareit</string>
	<key>tzJ-fC-Nvd</key>
	<string>Local_OK</string>
	<key>toS-Bn-FeE</key>
	<string>Local_Complete</string>
	<key>tVR-Nk-RkS</key>
	<string>Local_History</string>
	<key>sVg-h8-awa</key>
	<string>Local_Setting</string>
	<key>qwu-mk-xLN</key>
	<string>Local_PhotoTitle</string>
	<key>q3P-Kb-nvM</key>
	<string>Local_Ellipsis</string>
	<key>nMj-PO-bee</key>
	<string>Local_Recivie_Progress</string>
	<key>mCR-3l-W5T</key>
	<string>Local_One</string>
	<key>kux-yD-OyJ</key>
	<string>Local_About</string>
	<key>j3F-Va-iVa</key>
	<string>Local_MySetting</string>
	<key>iwc-0h-q8p</key>
	<string>Local_InputEmail</string>
	<key>hnP-x6-5D8</key>
	<string>Local_ClickToSend</string>
	<key>hgu-6f-FtB</key>
	<string>Local_About</string>
	<key>evP-Aj-ioD</key>
	<string>Local_Empty</string>
	<key>dAm-18-hpf</key>
	<string>Local_Copyright</string>
	<key>c6F-Va-VWZ</key>
	<string>Local_ChooseReciver</string>
	<key>c4h-Hv-q7K</key>
	<string>Local_Shareit</string>
	<key>bey-Kg-o8q</key>
	<string>Local_Station</string>
	<key>Z25-BA-Fdi</key>
	<string>Local_Cancel</string>
	<key>XNG-C7-irN</key>
	<string>Local_Send</string>
	<key>V3h-5H-Hxk</key>
	<string>Local_Send_Progress</string>
	<key>Uth-5l-nL2</key>
	<string>Local_Save</string>
	<key>U6P-Lb-zIf</key>
	<string>Local_Station</string>
	<key>Tbb-2S-d9J</key>
	<string>Local_leftAdvice</string>
	<key>TIv-ID-ZM1</key>
	<string>Local_Continue</string>
	<key>Qcm-sm-hgr</key>
	<string>Local_FeedBack_Advice</string>
	<key>Pi6-NF-6Kn</key>
	<string>Local_Recive</string>
	<key>Kw5-mi-g6q</key>
	<string>Local_Send</string>
	<key>KpY-jF-ejw</key>
	<string>Local_Cancel</string>
	<key>KBY-3r-P4L</key>
	<string>Local_OK</string>
	<key>HNG-9p-OzZ</key>
	<string>Local_AblumTitle</string>
	<key>FTw-d4-3M0</key>
	<string>Local_Email</string>
	<key>F5x-HT-82A</key>
	<string>Local_OK</string>
	<key>Dbd-Mj-lUz</key>
	<string>Local_WaitingRecive</string>
	<key>2nW-r5-6oH</key>
	<string>Local_Site</string>
	<key>5eU-XV-On9</key>
	<string>Local_WaitingRecive</string>
</dict>
</plist>
