<array>
<dict>
	<key>Dbd-Mj-lUz</key>
<string>Waiting to receive</string>
	<key>HNG-9p-OzZ</key>
<string>AlbumTitle</string>
	<key>Tbb-2S-d9J</key>
<string>Please give us your contact information and feedback</string>
	<key>V3h-5H-Hxk</key>
<string>Send Progress</string>
	<key>c4h-Hv-q7K</key>
<string>SHAREit</string>
	<key>dAm-18-hpf</key>
<string>SHAREit Team, Lenovo
Copyright © 2014  Lenovo All Rights  Reserved</string>
	<key>hgu-6f-FtB</key>
<string>About</string>
	<key>hnP-x6-5D8</key>
<string>Click the avatar to send</string>
	<key>j3F-Va-iVa</key>
<string>My Settings</string>
	<key>mCR-3l-W5T</key>
<string>1</string>
	<key>nMj-PO-bee</key>
<string>Receive Progress</string>
	<key>q3P-Kb-nvM</key>
<string>...</string>
	<key>qwu-mk-xLN</key>
<string>PhotoTitle</string>
	<key>tVR-Nk-RkS</key>
<string>History</string>
	<key>z2J-3v-SAs</key>
<string>Feedback</string>
	<key>U6P-Lb-zIf</key>
<string>SHAREit Station</string>
</dict>
<dict>
	<key>iwc-0h-q8p</key>
<string> Input Email</string>
</dict>
<dict>
	<key>2nW-r5-6oH</key>
<string>Site</string>
	<key>F5x-HT-82A</key>
<string>OK</string>
	<key>FTw-d4-3M0</key>
<string>Email</string>
	<key>XNG-C7-irN</key>
<string>Send</string>
	<key>KBY-3r-P4L</key>
<string>OK</string>
	<key>KpY-jF-ejw</key>
<string>Cancel</string>
	<key>Kw5-mi-g6q</key>
<string>Send</string>
	<key>Pi6-NF-6Kn</key>
<string>Receive</string>
	<key>Qcm-sm-hgr</key>
<string>Feedback</string>
	<key>TIv-ID-ZM1</key>
<string>Continue</string>
	<key>Uth-5l-nL2</key>
<string>Save</string>
	<key>Z25-BA-Fdi</key>
<string>Cancel</string>
	<key>evP-Aj-ioD</key>
<string>Empty</string>
	<key>kux-yD-OyJ</key>
<string>About</string>
	<key>sVg-h8-awa</key>
<string>Settings</string>
	<key>toS-Bn-FeE</key>
<string>Complete</string>
	<key>tzJ-fC-Nvd</key>
<string>OK</string>
	<key>xWW-mZ-gFQ</key>
<string>Send</string>
	<key>bey-Kg-o8q</key>
<string>Station</string>
</dict>
<dict>
	<key>5eU-XV-On9</key>
<string>Waiting to receive</string>
	<key>c6F-Va-VWZ</key>
<string>Select a receiver</string>
	<key>vP3-Q1-MBo</key>
<string>SHAREit</string>
</dict>
</array>
