<dict>
	<key>Dbd-Mj-lUz.text</key>
<string>Waiting to receive</string>
	<key>HNG-9p-OzZ.text</key>
<string>AlbumTitle</string>
	<key>Tbb-2S-d9J.text</key>
<string>Please give us your contact information and feedback</string>
	<key>V3h-5H-Hxk.text</key>
<string>Send Progress</string>
	<key>c4h-Hv-q7K.text</key>
<string>SHAREit</string>
	<key>dAm-18-hpf.text</key>
<string>SHAREit Team, Lenovo
Copyright © 2014  Lenovo All Rights  Reserved</string>
	<key>hgu-6f-FtB.text</key>
<string>About</string>
	<key>hnP-x6-5D8.text</key>
<string>Click the avatar to send</string>
	<key>j3F-Va-iVa.text</key>
<string>My Settings</string>
	<key>mCR-3l-W5T.text</key>
<string>1</string>
	<key>nMj-PO-bee.text</key>
<string>Receive Progress</string>
	<key>q3P-Kb-nvM.text</key>
<string>...</string>
	<key>qwu-mk-xLN.text</key>
<string>PhotoTitle</string>
	<key>tVR-Nk-RkS.text</key>
<string>History</string>
	<key>z2J-3v-SAs.text</key>
<string>Feedback</string>
	<key>U6P-Lb-zIf.text</key>
<string>SHAREit Station</string>
	<key>iwc-0h-q8p.placeholder</key>
<string> Input Email</string>
	<key>2nW-r5-6oH.normalTitle</key>
<string>Site</string>
	<key>F5x-HT-82A.normalTitle</key>
<string>OK</string>
	<key>FTw-d4-3M0.normalTitle</key>
<string>Email</string>
	<key>XNG-C7-irN.normalTitle</key>
<string>Send</string>
	<key>KBY-3r-P4L.normalTitle</key>
<string>OK</string>
	<key>KpY-jF-ejw.normalTitle</key>
<string>Cancel</string>
	<key>Kw5-mi-g6q.normalTitle</key>
<string>Send</string>
	<key>Pi6-NF-6Kn.normalTitle</key>
<string>Receive</string>
	<key>Qcm-sm-hgr.normalTitle</key>
<string>Feedback</string>
	<key>TIv-ID-ZM1.normalTitle</key>
<string>Continue</string>
	<key>Uth-5l-nL2.normalTitle</key>
<string>Save</string>
	<key>Z25-BA-Fdi.normalTitle</key>
<string>Cancel</string>
	<key>evP-Aj-ioD.normalTitle</key>
<string>Empty</string>
	<key>kux-yD-OyJ.normalTitle</key>
<string>About</string>
	<key>sVg-h8-awa.normalTitle</key>
<string>Settings</string>
	<key>toS-Bn-FeE.normalTitle</key>
<string>Complete</string>
	<key>tzJ-fC-Nvd.normalTitle</key>
<string>OK</string>
	<key>xWW-mZ-gFQ.normalTitle</key>
<string>Send</string>
	<key>bey-Kg-o8q.normalTitle</key>
<string>Station</string>
	<key>5eU-XV-On9.title</key>
<string>Waiting to receive</string>
	<key>c6F-Va-VWZ.title</key>
<string>Select a receiver</string>
	<key>vP3-Q1-MBo.title</key>
<string>SHAREit</string>
</dict>
